/**
 * Licensed under the MIT License
 * Copyright (c) 2010-2017 WoodWing Software
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

 html {
     font-size: 14px;
 }

body {
    min-width: 0px;
    align-items: center;
    display: flex;
}

h3 {
    margin-top: 0;
}

input[type="radio"] {
    margin: 3px;
}

input[type="radio"][disabled] + label {
     color: #999;
}

select {
    border: 0px;
    width: 100%;
    height: 110px;
    outline: 0;
    overflow-y: auto;
}

option:checked {
    background: linear-gradient(0deg, #009ee3 0%, #009ee3 100%);
}

.tag-panel {
    width: 100%;
}

.tag-panel .basic-btn {
    margin-top: 10px;
}

.advanced-header {
    color: #009ee3;
    font-weight: 700;
    cursor: pointer;
}

.toggle-icon {
    display: inline-block;
    width: 9px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.toggle-icon-closed {
    background-image: url(right.png);
    background-size: 5px 7px;
}

.toggle-icon-opened {
    background-image: url(down.png);
    background-size: 7px 5px;
}

.advanced-content {
    height: 0px;
    overflow: hidden;
    margin-left: 12px;
}

.advanced-content label {
    padding: 5px 0px;
    display: block;
}

.tag-model-wrapper {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #009ee3;
}

.tag-info {
    background-color: #f5f6f8;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid #009ee3;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #666;
}

.tag-info.warning {
    border: 2px solid orange;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #333;
}

.tag-info.error {
    border: 2px solid red;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #333;
}

.tag-buttons {
    text-align: right;
}

